@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;700&display=swap");

/* Variables */
:root {
  --font: "Poppins", sans-serif;
  --white: #ffffff;
  --black: #000000;

  --primary-color: #383c4b;
  --secondary-color: #d8ddde;

  --desktop: 1025px;
  --laptop: 769px;
  --tablet: 600px;

  --error-color: rgb(183, 32, 32);
  --error-color-text: #b9c2c3;
  --error-animation: 0.15s 3 backwards;

  --primary-text-color: #383c4b;
  --hover-text-color: #ff7562;
  --secondary-text-color: #9f9f9f;

  --border-radius: 25px;
  --box-shadow: rgba(0, 0, 0, 0.1) -4px 9px 25px -6px;

  --transition-light: all 0.1s linear;

  --input-border: 1px solid #e9eff0;
  --input-border-focus: 1px solid #d0d6d7;
  --input-border-radius: 7px;
  --input-height: 2.5em;

  --btn-padding: 0.6em 0.8em 0.8em 0.8em;
  --btn-radius: 25px;
  --btn-bg-color: #ff7562;
  --btn-bg-color-hover: #f3705e;
}

/* Reset Settings */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Global Styles */
body {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f6fafb;
  overflow-x: hidden;
}

a {
  color: var(--primary-text-color);
  text-decoration: none;
}

ul li {
  list-style-type: none;
}

input,
textarea {
  height: var(--input-height);
  padding: 0.3em;
  border: var(--input-border);
  border-radius: var(--input-border-radius);
  font-family: var(--font);
}

input:focus,
textarea:focus {
  outline: none;
  border: var(--input-border-focus);
}
